* {
	margin: 0;
	padding: 0;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.container:after {
	clear: both;
	display: block;
	height: 0;
	content: " ";
	visibility:	none
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix {
	display: block;
	clear: both;
	height: 0;
	visibility: visible;
}

.site-header {
	border-bottom: 1px solid #ddd;
	padding: 8px;
}

.site-header .header-menu {
	list-style: none;
}

.header-menu > li {
	display: inline;
}

.header-menu > li > a {
	padding: 5px;
	margin: 5px;
	color: #2F2D2D;
	text-decoration: none;
	font-size: 14px;
}


.lang-swith .lang-list-wrap {
	border: 1px solid #ddd;
	position: relative;
	width: 76px;
	height: 22px;
	font-size: 13px;
}

.lang-swith .lang-list-label {
	text-align: center;
	position: absolute;
	left: 0;
	width: 75px;
	padding: 4px 0;
}

.lang-swith .lang-list {
	position: absolute;
	left: 0;
	outline: none;
	opacity: 0;
	width: 75px;
	filter: alpha(opacity=0);
}

.site-search {
	text-align: center;
	margin-top: 20px;
}


.site-search .search-type-wrap {
	display: block;
	float: left;
	outline: none;
	margin-right: 0px;
	border: 1px solid #ddd;
	position: relative;
	width: 85px;
	height: 36px;
	border-right: none;
}

.site-search .search-type-label {
	position: absolute;
	height: 38px;
	width: 85px;
	padding: 6px 0px;
	left: 0;
	font: 17px/1.5em microsoft yahei,SimSun,sans-serif;
	text-align: center;
}

.site-search .search-type {
	height: 38px;
	position: absolute;
	left: 0;
	width: 85px;
	z-index: 1;
	font: 17px/1.5em microsoft yahei,SimSun,sans-serif;
	opacity: 0;
	filter:alpha(opacity=0);
}

.site-search .search-input {
	display: block;
	float: left;
	padding: 0 8px;
	outline: none;
	width: 400px;
	height: 36px;
	font: 14px/1.5em arial,microsoft yahei,SimSun,sans-serif;
	border: 1px solid #ddd;
	background: transparent;
	line-height: 40px\9;
}

.site-search .search-input:focus {
	border:1px solid #FF7025;
}

.site-search .search-btn {
	display: block;
	float: left;
	background: #FF7025;
	padding: 0 20px;
	font: 14px/1.5em arial,microsoft yahei,sans-serif;
	margin: 0 0 0 -9px;
	color: #fff;
	cursor: pointer;
	outline: none;
	height: 38px;
	border: 1px solid #FF7025;
	*border: none;
}

.site-search .search-btn:hover {
	background: #FF5700;
	border: 1px solid #FF5700;
	*border: none;
}