
.site-search {
	width: 1050px;
	margin: 20px auto 0;
	text-align: left;
}

.site-main {
	width: 1050px;
	margin: 20px auto 0;
}

.site-main .result-list {
	float: left;
	width: 75%;
}

.result-list > ul {
	list-style: none;
}

.result-list .result-count-label {
	border-bottom: 1px solid #ddd;
	padding: 5px 0;
	font-size: 15px;
}

.result-list .list-item{
	border-bottom: 1px solid #eee;
	padding: 15px 0 5px;
	margin-bottom: 5px;
}

.list-item .item-title {
	color: #1240D3;
	font-size: 16px;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.list-item .item-title:hover {
	text-decoration: underline;
}

.list-item .item-title:active {
	color: #EA3D4A;
	text-decoration: underline;
}

.list-item .item-title > strong {
	color: #f00
}

.list-item .item-detail {
	margin-top: 10px;
}

.item-detail .item-value {
	font-size: 13px;
	color: #D20048;
	float: left;
	display: block;
	margin-right: 13px;
}

.item-detail .item-origin-weblink {
	text-decoration: none;
	font-size: 13px;
	color: #7B7B7B;
	display: block;
	float: left;
}

.item-detail .item-label {
	float: left;
	color: #7B7B7B;
	font-size: 13px;
}

.item-detail .item-download {
	text-decoration: none;
	font-size: 13px;
	display: block;
	float: left;
	background: #34D236;
	padding: 2px 13px;
	color: #fff;
	border-radius: 2px;
	margin-top: -2px;
	margin-left: 20px;
}

.site-main .sidebar-wrap {
	float: left;
	margin-left: 15px;
	width: 19%;
}